<file-handler-toolbar></file-handler-toolbar>
<md-card *ngFor="let user of users">
  <md-card-content>{{user.name}}</md-card-content>
  <md-card-subtitle>{{user.work}}</md-card-subtitle>
</md-card>
<md-card>
  <md-input-container>
    <input
      placeholder="Name"
      mdInput #username>
  </md-input-container>

  <md-input-container>
    <input
      placeholder="Work"
      mdInput #work>
  </md-input-container>



  <button md-button (click)="add(username.value, work.value)">Add</button>
</md-card>




